:root {
    --leftSide: 50px;
    --containerColor: #f9fafb;
    --logoColor: white;
    --inputBorderColor: #E5E7EB;
    --inputFocusColor: #7f75cb;
    --h3Color: darkslateblue;
    --submitHoverColor: #6b5fc6;
    --subBtnColor: #f2f1fa;
    --errorColor: #da1e28;
    --successColor: #198038;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 { 
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    font-size: 24px;
    font-variant: small-caps;
    margin-right: 100px;
    font-weight: bold;
}

h2 {
    line-height: 90px;
    margin-bottom: 25px;
}

h3 {
    font-size: 24px;
    color: var(--h3Color)
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    background-color: var(--containerColor);
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.image-layout {
    position: relative;
    background-image: url('./images/purple-mountain.jpg');
    background-size: cover;
    background-position: bottom;
}

.form-layout {
    margin-top: 200px;
}

.button-section {
    margin-top: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 56px;
    color: var(--containerColor);
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 25%;
}

#img2 {
    width: 110px;
    height: 140px;
    margin: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--logoColor);
    padding: 30px 0 40px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

form h3 {
  grid-column: span 2;
}

.form-group {
    display: flex;
    flex-direction: column;
}

h1, 
h2, 
form, 
.button-section {
    padding-left: var(--leftSide);
}

label {
    text-transform: uppercase;
    font-size: 12px;
}

input {
    width: 306px;
    height: 34px;
    border: 2px solid var(--inputBorderColor);
    border-radius: 6px;
    padding: 12px 10px;
    margin: 8px 0;
}

input:focus {
    outline: none;
    border: 2px solid var(--inputFocusColor);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: var(--submitHoverColor);
    border-color: var(--submitHoverColor);
}

.sub-btn {
    width: 250px;
    height: 50px;
    margin-bottom: 40px;
    border-style: none;
    background-color: var(--inputFocusColor);
    color: var(--subBtnColor);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: 0.3s;
}

.login {
    color: var(--h3Color);
    text-decoration: none;
    font-weight: bold;
}

.sub-btn, .login-para {
    font-size: 18px;
}

.credits {
    position: absolute;
    bottom: 0;
    color: var(--logoColor);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.credits > a {
    color: var(--logoColor);
}

.pw-message-error {
    color: var(--errorColor);
}

.pw-message-success {
    color: var(--successColor);
}